<!-- wp:template-part {"slug":"header","theme":"online-library","tagName":"header","className":"custom-home-header"} /-->

<!-- wp:pattern {"slug":"online-library/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main id="primary" class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:pattern {"slug":"online-library/collection-section"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"online-library/about-section"} /-->

<!-- wp:pattern {"slug":"online-library/testimonial"} /-->

<!-- wp:pattern {"slug":"online-library/faq-section"} /-->

<!-- wp:pattern {"slug":"online-library/latest-news"} /-->

<!-- wp:template-part {"slug":"footer","theme":"online-library","tagName":"footer","className":"custom-footer-class"} /-->