<!-- wp:template-part {"slug":"header","theme":"online-library","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"online-library/page-title"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"80%"}} -->
<main id="primary" class="wp-block-group">

<!-- wp:pattern {"slug":"online-library/cart"} /-->

</main>
<!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"online-library","tagName":"footer","className":"custom-footer-class"} /-->